
input{
    position: relative;
    left: 32%;
    width: 100px;
    min-width: 100px ; 
    min-height: 35px;
    color: rgb(20, 116, 1);
    border: 2px solid rgba(0, 0, 0, 0.452);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
}

input::placeholder{
  color: rgb(20, 116, 1);
  font-size: 20px;
  padding-left: 2px;
}

input:focus{
   transform: scale(1.04);
   border-bottom: 3px solid rgba(0, 0, 0, 0.829);
   outline: none;
   transition: 1s;
   width: 450px;
}