.Contain-Items-Color{
    position: absolute;
    top: 90px;
    left: 57%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.493);
    display: flex;
    flex-direction: row;
    place-content: center;
    gap: 6px;
    z-index: 1;
    border-radius: 5px;
    width: 130px;
    flex-wrap: wrap;
}
